.rack {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 8px !important;
    z-index: 500;
    height: 50px;
    width: 50px;
}

.icon {
    width: 6.6rem;
}
#whole{
    padding-top: 6.2rem;
}
@media (max-width: 982px)  {
.icon{
    width: 6rem;
}
}
@media (max-width: 633px) {
    .icon {
        width: 6rem;
    }


}
@media (max-width: 633px)  {
    #whole{
        /*padding-top: 8rem!important;*/
    }
}
@media (max-width: 500px) {
    .icon {
        width: 5rem;
    }
    #whole{
        /*margin-top: 5.6rem!important;*/
    }
}

@media (max-width: 630px)  {
    #whole{
        margin-top: 0;
    }
}
.navbar {
    margin-left: 7.2%;
    height: 6.25rem;
}

@media (max-width: 1000px) {
    .rack {
        margin-right: 15px !important;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #0899fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 109px;

}

.navbar span {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 88px;
    z-index: 500;
    height: 50px;
    width: 50px;
}

.sidenav a {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 4.7rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.boxshadow {
    box-shadow: 100px 100px #000;
    opacity: 0.4;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


@media (max-width: 675px) {
    .navbar span {
        margin-right: 0 !important;
        margin-top: 25px !important;
    }
}


@media (max-width: 520px) {

    .navbar .img {
        width: 1.7rem;
    }
    .navbar span{
        margin-top: 0px!important;
    }
}

@media (max-width: 300px) {

    .navbar .img {
        width: 1.2rem;
    }
}