.rack {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 8px !important;
    z-index: 500;
    height: 50px;
    width: 50px;
}

/*.icon {*/
    /*width: 18.75rem;*/
/*}*/
.navbar-brand{
    position: relative;
    /*background: url(./logo.svg);*/
    margin-top: 0px;
    background-repeat: no-repeat;
    width: 300px;
    left: 90px;
    /*top:95px; */
    height: 64px;
    /* max-height: 90px; height of the navbar */
    background-size: contain;
}
@media (max-width: 1100px) {
    .navbar-brand {
        left: 0px;
    }
}
@media (max-width: 675px) {
    .navbar-brand {
        /* width:0px; */
        left: 0px;
        /*margin-top: 25px;*/
    }

}
@media (max-width: 675px) {
    .navbar-brand {
        left: -45px !important;
    }
}
@media (max-width: 555px) {
    .navbar-brand {
        left: 0px !important;
    }
}
@media (max-width: 550px) {
    .navbar-brand {
        width: 170px
    }

}
@media (max-width: 380px) {
    .navbar-brand {
        width: 110px
    }
}
#whole{
    padding-top: 6.2rem;
}
@media (max-width: 982px)  {
.icon{
    width: 6rem;
}
}
@media (max-width: 633px) {
    .icon {
        width: 6rem;
    }


}
@media (max-width: 633px)  {
    #whole{
        /*padding-top: 8rem!important;*/
    }
}
@media (max-width: 500px) {
    .icon {
        width: 5rem;
    }
    #whole{
        /*margin-top: 5.6rem!important;*/
    }
}

@media (max-width: 630px)  {
    #whole{
        margin-top: 0;
    }
}
.navbar {
    /*margin-left: 7.2%;*/
    height: 6.25rem;
}
@media (max-width: 450px)  {
    .navbar{
        height: 5rem;
    }
    #whole{
        padding-top: 5rem!important;
    }
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #0899fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 109px;

}

.navbar span {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 88px;
    z-index: 500;
    height: 50px;
    width: 40px;
}
@media (max-width: 1100px) {
    .rack {
        margin-right: 15px !important;
    }
    .navbar span{
        width: 35px;
    }
}
.sidenav a {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 4.7rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.boxshadow {
    box-shadow: 100px 100px #000;
    opacity: 0.4;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


@media (max-width: 675px) {
    .navbar span {
        margin-right: 0 !important;
        /*margin-top: 25px !important;*/
    }
}
@media (max-width: 530px)  {
    .navbar span{
        width: 35px;
        margin-top: 0px!important;
    }
    .navbar-brand{
        margin-top: 0;
    }
}

@media (max-width: 520px) {

    .navbar .img {
        width: 1rem;
    }
    .navbar span{
        margin-top: 0px!important;
    }
}

@media (max-width: 300px) {

    .navbar .img {
        width: 1.2rem;
    }
}
.round_image img {
    width: 12rem!important;
    height: auto;
}
.left_div{
    padding-left: 60%;
    padding-top: 5rem;
    /*padding-right: 20%;*/
    /*padding-top: 2rem;*/
}
.right_div{
    padding-right: 5rem;
    padding-top: 5.5rem;
}
.pt{
    padding-top: 0.8rem;
}
.pttt{
    /*padding-top: 3rem!important;*/
}
@media(max-width: 1350px)  {
    .left_div{
        padding-left: 45%;
    }
    .right_div{
        padding-right: 6rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 1185px)  {
    .left_div{
        padding-left: 41%;
    }
    .right_div{
        padding-right: 4rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 1000px)  {
    .left_div{
        padding-left: 38%;
        justify-content: left;
    }
    .right_div{
        padding-right: 3rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 855px)  {
    .left_div{
        padding-left: 28%;
    }
    .right_div{
        padding-right: 2rem;
    }
}
@media(max-width: 800px)  {
    .left_div{
        padding-left: 20%;
    }
    .right_div{
        padding-right: 0rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 760px)  {
    .left_div{
        padding-left: 10%;
    }
    .right_div{
        padding-right: 0rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 650px)  {
    .left_div{
        padding-left: 0%;
    }
    .right_div{
        padding-right: 0rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 600px)  {
    .left_div{
        margin-left: 0%;
    }
    .right_div{
        margin-right: 0rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
@media(max-width: 576px)  {
    .left_div{
        padding-left: 80%;
    }
    .right_div{
        padding-right: 0rem;
    }
}
@media(max-width: 417px)  {
    .left_div{
        padding-left: 50%;
    }
    .right_div{
        padding-right: -2rem;
    }
    .pt{
        padding-top: 0rem;
    }
}
.ptt{
    /*padding-top: 6.5%;*/
    padding-bottom: 6%;
    background: #e8f7fe;
}
.caro{
    /*background: url("Asset 4.png");*/
    /*background:;*/
    background-position: center;

}
blockquote{
    position: relative;
}
blockquote span:before{
    content: "\201C";
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 250px;
    position: absolute;
    top: -0.65em;
    left: 0em;
}
blockquote span:after{
    content: "\201D";
    color: white;
    font-size: 250px;
    position: absolute;
    /*bottom: 0em;*/
    right: 0;
    top: -0.22em;
    font-family: 'Open Sans', sans-serif;
}
@media(max-width: 1200px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
    }
    blockquote span:after{
        top: -3.5rem;
    }
}
@media(max-width: 1130px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
    }
    blockquote span:after{
        top: -2rem;
    }
}
@media(max-width: 880px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
    }
    blockquote span:after{
        top: -0.8rem;
    }
}
@media(max-width: 710px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
    }
    blockquote span:after{
        top: 1.9rem;
    }
}
@media(max-width: 610px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 200px;
    }
    blockquote span:after{
        top: 4rem;
        font-size: 200px;
    }
}
@media(max-width: 576px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 200px;
    }
    blockquote span:after{
        top: 0.8rem;
        font-size: 200px;
    }
}
@media(max-width: 650px)  {
    .right_div{
        padding-top: 2rem;
    }
}
@media(max-width: 445px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 150px;

    }

    blockquote span:after{
        top: 3.5rem;
        font-size: 150px;
    }
}
@media(max-width: 410px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 150px;

    }

    blockquote span:after{
        top: 5rem;
        font-size: 150px;
    }
}
@media(max-width: 360px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 150px;

    }
    blockquote span:after{
        top: 6.5rem;
        font-size: 150px;
    }
}
@media(max-width: 336px)  {
    blockquote span:before{
        /*margin-top: 0.5rem;*/
        top: -0.65em;
        font-size: 100px;

    }

    blockquote span:after{
        top: 8.5rem;
        font-size: 100px;
    }
}
@media(max-width: 450px)  {
    .right_div{
        padding-top: 1rem;
    }
}