.rack {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 18px !important;
    z-index: 500;
    height: 50px;
    width: 38px;
}

.mtt {
    margin-top: 6rem;
    width: 82%;
}

.mtt:before {
    content: "";
    position: absolute;
    /*bottom  : 0rem;*/
    left: 2rem;
    padding-top: 2rem;
    height: 1px;
    width: 82%; /* or 100px */
    border-top: 1px solid white;
}

@media (max-width: 1000px) {
    .rack {
        margin-right: 15px !important;
        /*width: 45px;*/
    }
}

@media (max-width: 750px) {
    .rack {
        margin-right: 50px !important;
    }

    .navbar-brand span {
    }
}

.navbar {
    background-color: #e8f7fe;
    height: 6.25rem;
}

#whole {
    margin-top: 7.1rem;
}

@media (max-width: 1100px) {
    #whole {
        margin-top: 7.1rem;
    }
}

@media (max-width: 675px) {
    #whole {
        margin-top: 7rem;
    }
}

@media (max-width: 510px) {
    #whole {
        margin-top: 7rem;
    }
}

.navbar-brand {
    position: relative;
    background: url(./logo.svg);
    margin-top: 28px;
    background-repeat: no-repeat;
    width: 300px;
    left: 134px;
    /*top:95px; */
    height: 54px;
    /* max-height: 90px; height of the navbar */
    background-size: contain;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #0899fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;

}

.navbar .navbar-brand span {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-top: 88px;
    z-index: 500;
    height: 50px;
    width: 50px;
}

.sidenav a {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    line-height: 3.7rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.boxshadow {
    box-shadow: 100px 100px #000;
    opacity: 0.4;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 880px) {
    .navbar-brand {
        left: 55px;
    }
}

@media (max-width: 675px) {
    .navbar-brand {
        /* width:0px; */
        left: 0px;
        margin-top: 25px;
    }

}

@media (max-width: 675px) {
    .navbar span {
        margin-right: 0 !important;
        margin-top: 25px !important;
    }
}

@media (max-width: 675px) {
    .navbar-brand {
        left: 0 !important;
    }
}

@media (max-width: 550px) {
    .navbar-brand {
        width: 170px
    }

    .navbar img {
        width: 1.7rem;
    }
}

@media (max-width: 300px) {
    .navbar-brand {
        width: 110px
    }

    .navbar img {
        width: 1.2rem;
    }
}

.second_sec .card-title {
    background: url("assets/one.png") no-repeat;
}

@media (max-width: 680px) {
    .second_sec .card-text {
        line-height: 1.5rem !important;
    }

    .second_sec .card-text {
        margin-right: -2rem;
    }
}

@media (max-width: 1010px) {
     .d1 {
        padding-top: 3.5rem !important;
    }
}

@media (max-width: 771px) {
    .second_section h2 {
        padding-top: 3.3rem !important;
    }
    .d1{
        padding-top: 0rem!important;

    }
}
@media (max-width: 766px) {
    .second_section h2 {
        padding-top: 4.3rem !important;
    }
    .d1{
        padding-top: 0rem!important;
    }
    .second_section .card-text{
        margin-right: -1.4rem!important;
    }
}



@media (max-width: 700px) {
    .second_section .card-text{
        margin-left: -3.5rem;
    }
}

@media (max-width: 635px) {
    .second_section h2 {
        padding-bottom: 2rem !important;
    }
    .d1{
        margin-top: -1rem;
    }
}
@media (max-width: 920px)  {
    .second_section h2{
        background-size: 80px!important;
    }
}
@media (max-width: 576px) {
    .second_section .card-text{
        margin-left: 0!important;
        /*ma*/
    }
    .second_section h2{
        background-size: 65px!important;
    }
}


@media (max-width: 576px) {
    .second_sec .card-text {
        line-height: 2rem !important;
    }

    .second_sec .card-text {
        margin-right: 0rem;
    }

    .second_sec img {
        padding-top: 5rem !important;
    }

    .second_section h2 {
        padding-top: 3.5rem !important;
    }

    .third_sec h2 {
        padding-top: 4.8rem;
    }

    .third_sec img {
        padding-top: 2.5rem !important;
    }

    .sixth_sec .card-title {
        padding-top: 3.8rem !important;
    }

    .sixth_sec img {
        padding-top: 2rem;
    }

    .sixth_sec {
        padding-bottom: 1rem;
    }
}
@media (max-width: 480px)  {
    .third_sec h2{
        padding-top: 3.8rem;
    }
}
@media (max-width: 420px)  {
    .third_sec h2{
        padding-top: 3rem;
    }
}
@media (max-width: 390px)  {
    .third_sec h2{
        padding-top: 2.5rem;
    }
}
@media (max-width: 340px)  {
    .third_sec h2{
        padding-top: 2rem;
    }
}
@media (max-width: 655px) {
    .third_sec .card-text {
        /*padding-bottom: 0rem!important;*/
        margin-right: -3rem !important;
    }
}

@media (max-width: 355px) {
    .second_section img {
        padding-top: 1rem;
    }

    .third_sec .card-text {
        /*padding-bottom: 0rem!important;*/
        margin-right: 0rem !important;
        line-height: 1.8rem;
    }
}

@media (max-width: 500px) {
    .second_section img {
        padding-top: 2rem;
    }
}
.second_section .card-title{
    background: url("assets/two.png") no-repeat;
    background-size:100px ;
}
.third_sec .card-title{
    background: url("assets/three.png") no-repeat;
    background-size:18.5%;
}
.fourth_sec h2{
    background: url("assets/four.png") no-repeat;
    background-size: 100px;
}
.sixth_sec .card-title{
    background: url("assets/five.png") no-repeat;
    background-size: 100px;
}
@media (max-width: 750px)  {
.d2{
   padding-top: 3rem!important;
}
}
@media (max-width: 640px)  {
    .d3{
        padding-top: 5rem!important;
    }
    .sixth_sec .card-text{
        margin-right: -3.5rem;
        margin-left: -2rem;
    }
}
